@import '@/shared/styles/_vars';

.leaguePage {
	padding-top: rem(100);
}
.container {
	@include container();
}
.center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.error {
	color: #000;
	font-size: rem(24);
	text-align: center;
}
.button {
	padding: rem(10) rem(10);
	border-radius: rem(8);
	-webkit-filter: drop-shadow(0 0 rem(10) rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0 0 rem(10) rgba(0, 0, 0, 0.4));
}
.path {
	display: flex;
	align-items: center;
	gap: rem(10);
	font-size: rem(18);
	color: $black;
	fill: $black;
}
a.pathText {
	text-decoration: none;
	color: $black;
	cursor: pointer;
}
p.pathText {
	text-decoration: none;
	color: $black;
	cursor: text;
}
.icon {
	width: 100%;
	max-width: rem(20);
}
.date {
	margin-top: rem(30);
}
.title {
	font-size: rem(28);
	font-weight: 700;
	cursor: text;
}
.dateWrapper {
	margin-top: rem(10);
	display: flex;
	align-items: center;
	gap: rem(10);
}
.dateText {
	font-size: rem(16);
	color: $black;
}
.inputDate {
}
.matches {
	margin-top: rem(30);
	padding: rem(8);
	width: 100%;
	margin-bottom: rem(30);

	& th,
	td {
		border: 1px solid $black;
		text-align: center;
		padding: 8px;
	}

	& th {
		background-color: #f2f2f2;
	}
}
.tableRow {
	transition: 0.1s;

	&:hover {
		background-color: darken(#fff, 10%);
	}
}
.tableCol {
}
